
    <div class="c-crud">
        <p>Sistema de gestion de notas, implementando spring boot, Oauth2 y angular</p>

        <div class="video-c">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IlbIlcSLmks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="btnC">
        <a class="btnCortinaa cursor desc" href="https://github.com/Alan-1128/BackPrueba">Backend</a>
        <a class="btnCortinaa cursor desc" href="https://github.com/Alan-1128/Frontprueba">Frontend</a>
    </div>



<!-- <form class="form">
    <p class="form__input parrafo">{{datos.titulo}}</p>
    <p class="form__input txt">{{datos.descripcion}}</p>
    
    <ul class="ul">
    <li class="li txt none" >{{datos.renglon1}}</li>
    <li class="li txt none" >{{datos.renglon2}}</li>
    <li class="nuevo txt" >{{datos.renglon_1}}</li>
    <li class="nuevo txt" >{{datos.renglon_2}}</li>
    <li class="nuevo txt" >{{datos.renglon_3}}</li>
    </ul>
<br>
    <p class="form__input">Demo: <a target="blank" href="{{datos.demo}}">Haga clic aquí</a></p>
    <p class="form__input" >Código en GitHub: <a target="blank" href="{{datos.codigo}}">Haga clic aquí</a></p>
</form> -->

<!-- <app-component [datos]="datos"></app-component> -->

