<div class="flex-container containerCarta">
    <form class="form">
        <p class="form__input parrafo">{{datos.titulo}}</p>
        <p class="form__input txt">{{datos.descripcion}}</p>
        
        <ul class="ul">
        <li class="li txt none" >{{datos.renglon1}}</li>
        <li class="li txt none" >{{datos.renglon2}}</li>
        <li class="nuevo txt" >{{datos.renglon_1}}</li>
        <li class="nuevo txt" >{{datos.renglon_2}}</li>
        <li class="nuevo txt" >{{datos.renglon_3}}</li>
        </ul>
<br>
        <p class="form__input">Demo: <a target="blank" href="{{datos.demo}}">Haga clic aquí</a></p>
        <p class="form__input" >Código en GitHub: <a target="blank" href="{{datos.codigo}}">Haga clic aquí</a></p>
    </form>
    
    <div class="form-img">
    <img src="{{datos.img}}" alt="proyecto">
    </div>
</div>
